# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Temp files
*~

# Archives
*.tar
*.gz

# CMake Files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# Programs
PGURE-SVT

# Directories
build
dev

# CPP Lint
src/cpplint*

# Backups
*.bak

# Python files
*.pyc
