all==0.0.5
backports-abc==0.4
caller-module==0.0.9
cycler==0.10.0
decorator==4.0.9
entrypoints==0.2
hyperspy==0.8.4
ipykernel==4.3.1
ipython==4.1.2
ipython-genutils==0.1.0
ipywidgets==4.1.1
Jinja2>=2.10.1
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.2.2
jupyter-console==4.1.1
jupyter-core==4.1.0
MarkupSafe==0.23
matplotlib==1.5.1
mistune==0.8.1
mpmath==0.19
natsort==4.0.4
nbconvert==4.2.0
nbformat==4.0.1
notebook==5.7.8
numpy==1.11.0
pexpect==4.0.1
pguresvt==0.3.0
pickleshare==0.7.2
ptyprocess==0.5.1
public==0.0.0
pyface==5.0.0
Pygments==2.1.3
pyparsing==2.1.1
python-dateutil==2.5.2
pytz==2016.3
pyzmq==15.2.0
qtconsole==4.2.1
scipy==0.17.0
simplegeneric==0.8.1
six==1.10.0
sympy==1.0
terminado==0.6
tornado==4.3
traitlets==4.2.1
traits==4.5.0
traitsui==5.0.0
